!Build/
.last_cover_stats
/META.yml
/META.json
/MYMETA.*
*.o
*.pm.tdy
*.bs

# Devel::Cover
cover_db/

# Devel::NYTProf
nytprof.out

# Dizt::Zilla
/.build/

# Module::Build
_build/
Build
Build.bat

# Module::Install
inc/

# ExtUtils::MakeMaker
/blib/
/_eumm/
/*.gz
/Makefile
/Makefile.old
/MANIFEST.bak
/pm_to_blib
/*.zip
src_python/Checkout.py

src_python/__pycache__/

src_python/.vscode/

shoppingcarttest.code-workspace

Checkout_Python/__pycache__/

Checkout_Python/.vscode/

PyCheckout/__pycache__/
